Source: openmediavault-sickbeard
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: downloaders

Package: openmediavault-sickbeard
Architecture: all
Depends: openmediavault (>= 3.0.13),
         python,
         python-openssl,
         python-software-properties,
         python-dev,
         python-cheetah,
         libssl-dev,
         git,
         ${misc:Depends}
Description: OpenMediaVault Sick Beard plugin
 Sick Beard is a PVR for newsgroup users (with limited torrent support).
 It watches for new episodes of your favorite shows and when they are
 posted it downloads them, sorts and renames them, and optionally
 generates metadata for them. It currently supports NZBs.org, NZBMatrix,
 NZBs'R'Us, Newzbin, Womble's Index, NZB.su, TVTorrents and EZRSS and
 retrieves show information from theTVDB.com and TVRage.com.
 .
 Backup your database before installing!!

